# Emacs auto-save files
auto-save-list/
transient/
# Native compilation cache (Emacs 28+)
eln-cache/
eshell/
# Installed packages
elpa/

# Byte-compiled files
*.elc

# Undo tree history files
*.~undo-tree~

# Backup files
*~

# Lock files
.#*

*.eld
bookmarks
org-roam.db
custom.el
.org-id-locations
recentf
tramp
.cache/
url/